# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Auto_Attendance_GitHub_Action

on:
  workflow_dispatch:
  push:
  schedule:
    # 07:05 everyday in UTC+8, 23:05 everyday in UTC+0
    - cron: '05 16 * * *'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Run app
        env:
          lhw_username: ${{ secrets.LHW_USERNAME }}
          lhw_password: ${{ secrets.LHW_PASSWORD }}
          xk_username: ${{ secrets.XK_USERNAME }}
          xk_password: ${{ secrets.XK_PASSWORD }}
        run: |
          python3 auto.py --username=$lhw_username --password=$lhw_password
          python3 auto.py --username=$xk_username --password=$xk_password

